@model m1climbing.Areas.Climbing.Models.Sector

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sector</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Crag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Crag.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Routes)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Routes != null && Model.Routes.Any())
            {
                @for (int i = 0; i < Model.Routes.Count; i++)
                {
                    var route = Model.Routes.ElementAt(i);
                    <a asp-action="Details" asp-controller="Routes" asp-route-id="@route.Id">@route.Name</a>

                    @if (i < Model.Routes.Count - 1)
                    {
                        <span> | </span>
                    }
                }
            }
            else
            {
                <span>No routes available.</span>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
